@use "../config/index" as *;

.default-page {
  .container {
    max-width: 1070px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  h1 {
    color: $red-500;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 32px;
  }
  h2 {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 16px;
    margin-top: 32px;
  }
  h3 {
    color: $red-500;
    font-size: 28px;
    line-height: 1.14;
    margin-bottom: 16px;
    margin-top: 32px;
  }
  h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
    margin-bottom: 16px;
    margin-top: 16px;
  }
  a {
    color: $brown-500;
    text-decoration: underline;
  }
  ol {
    strong {
      font-weight: 600;
    }
    ul {
      list-style-type: disc;
    }
    &.bold-number {
      > li {
        &::marker {
          font-weight: 600;
        }
      }
    }
    &.alpha {
      list-style-type: lower-alpha;
    }
    &.roman-list {
      list-style: none;
      counter-reset: roman-counter;
      > li {
        counter-increment: roman-counter;
        position: relative;
        padding-left: 25px;
        &::before {
          content: counter(roman-counter, lower-roman) ")";
          position: absolute;
          left: 0;
        }
      }
    }
    &.margin-list {
      > li {
        margin-bottom: 20px;
      }
    }
  }
  table {
    width: 100%;
    table-layout: fixed;
    th {
      border-top: 1px solid rgba($brown-500, 0.3);
      border-bottom: 1px solid rgba($brown-500, 0.3);
      padding: 12px 8px;
      text-align: left;
      &:first-child {
        padding-left: 12px;
      }
      &:last-child {
        padding-right: 12px;
      }
    }
    td {
      border-bottom: 1px solid rgba($brown-500, 0.3);
      vertical-align: top;
      padding: 12px 8px;
      &:first-child {
        padding-left: 12px;
      }
      &:last-child {
        padding-right: 12px;
      }
    }
    tbody {
      word-wrap: break-word;
    }
    p {
      strong {
        font-weight: 600;
      }
    }
  }

  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 1.14;
    .container {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    h1 {
      font-size: 24px;
      line-height: 1.16;
      margin-bottom: 16px;
    }
    h2 {
      font-size: 16px;
      line-height: 1.25;
      margin-top: 16px;
    }
    h3 {
      font-size: 20px;
      line-height: 1.2;
      margin-top: 16px;
    }
    h4 {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}
