@use "../config/index" as *;

.home-page {
  .section-fighting {
    background-color: #fff;
    min-height: 300px;
  }
  .section-about {
    background-color: #ed2025;
    min-height: 300px;
  }
  .section-benefits {
    background-color: #d5ebf7;
    min-height: 300px;
  }
}
