@use "../config/index" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #fff;
  color: $brown-500;
  font-family: $body-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

// Fix for safari
@media (max-width: 767px) {
  html {
    -webkit-text-size-adjust: none;
    touch-action: manipulation;
  }
  body {
    touch-action: pan-x pan-y;
  }
}

.text-justify {
  text-align: justify;
}

a,
.type-link {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
  &:hover {
    outline: none;
    text-decoration: underline;
  }
  &:focus {
    outline: none;
  }
}

.type-link {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 16px;
}

iframe {
  max-width: 100%;
  border: none;
}

h1,
h2 {
  font-weight: 700;
}

.mb-0 {
  margin-bottom: 0;
}
