:root {
  --blue-100: #009fe3;
  --purple-400: #a3238e;
  --purple-500: #4e2683;
  --grey-200: #dedede;
  --grey-700: #6c6c6c;
  --grey-900: #232323;
  --red-500: #fc3a38;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background: #fff;
  color: var(--grey-900);
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

@media (max-width: 767px) {
  html {
    -webkit-text-size-adjust: none;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
  }
  body {
    -ms-touch-action: pan-x pan-y;
        touch-action: pan-x pan-y;
  }
}
.container:not(.g-0, .gx-0),
.container-fluid:not(.g-0, .gx-0),
.container-xxl:not(.g-0, .gx-0),
.container-xl:not(.g-0, .gx-0),
.container-lg:not(.g-0, .gx-0),
.container-md:not(.g-0, .gx-0),
.container-sm:not(.g-0, .gx-0),
.row:not(.g-0, .gx-0) {
  --bs-gutter-x: 1.875rem;
}

.text-justify {
  text-align: justify;
}

a,
.type-link {
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}
a:hover,
.type-link:hover {
  outline: none;
  text-decoration: underline;
}
a:focus,
.type-link:focus {
  outline: none;
}

.type-link:hover, .type-link:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 12px;
}

iframe {
  max-width: 100%;
  border: none;
}

h1,
h2 {
  font-weight: 700;
}

.wrapper {
  height: 100%;
  min-height: 100%;
}
.wrapper.flex {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.wrapper.flex .main-content {
  height: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}

.header {
  background-color: #ed2025;
  color: #fff;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
  background-color: #ed2025;
  color: #fff;
}
.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .f-left {
  text-align: center;
}
.footer .menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.footer .menu-footer li + li {
  margin-left: 30px;
}
.footer .menu-footer a {
  color: #fff;
  display: block;
}

.home-page .section-fighting {
  background-color: #fff;
  min-height: 300px;
}
.home-page .section-about {
  background-color: #ed2025;
  min-height: 300px;
}
.home-page .section-benefits {
  background-color: #d5ebf7;
  min-height: 300px;
}

.questionnaire-step {
  padding: 40px 0 50px;
}
.questionnaire-step .step {
  display: none;
}
.questionnaire-step .active {
  display: block;
}
.questionnaire-step .step-indicator {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 95px 20px 1fr;
  grid-template-columns: 95px 1fr;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.questionnaire-step .progress-bar {
  border-radius: 10px;
  width: 100%;
  height: 15px;
}
.questionnaire-step .progress-bar::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 10px;
}
.questionnaire-step .progress-bar::-webkit-progress-value {
  background-color: #ed2025;
  border-radius: 10px;
}
.questionnaire-step .list-answers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 60px;
}
.questionnaire-step .list-answers input[type=radio] {
  display: none;
}
.questionnaire-step .list-answers label {
  border: 1px solid #ed2025;
  border-radius: 10px;
  display: block;
  padding: 10px;
  cursor: pointer;
}
.questionnaire-step .list-answers input[type=radio]:checked + label {
  background-color: #ed2025;
  color: #fff;
}
.questionnaire-step .f-action {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.questionnaire-step .f-action button {
  background: #fff;
  border: none;
  border-radius: 10px;
  color: #ed2025;
  font-size: 20px;
  font-weight: 700;
  padding: 12px 24px;
  cursor: pointer;
}
.questionnaire-step .f-action button:disabled, .questionnaire-step .f-action button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.questionnaire-step .f-action button.btn-next {
  background-color: #ed2025;
  color: #fff;
}
/*# sourceMappingURL=app.css.map */